<%= form_for @conn, picks_path(@conn, :create, @season, @week), [as: :create], fn f -> %>
  <%= text_input f, :ben_picks, placeholder: "Ben's Picks" %>
  <%= text_input f, :ben_lock, placeholder: "Ben's Lock" %>
  <%= text_input f, :ben_anti_lock, placeholder: "Ben's Anti-Lock" %>
  <%= text_input f, :brian_picks, placeholder: "Brian's Picks" %>
  <%= text_input f, :brian_lock, placeholder: "Brian's Lock" %>
  <%= text_input f, :brian_anti_lock, placeholder: "Brian's Anti-Lock" %>
  <%= submit "Submit" %>
<% end %>
