body {
  	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
}
#current_wins {
    font-size: 64px;
}
#final_wins {
    font-size: 48px;
}
.name {
    font-size: 48px;
}
.current, .probability {
    font-size: 42px;
}
#ben_wins, #brian_wins {
    font-size: 21px;
}
table.score {
    height: 100%;
    width: 100%;
}
.team_name {
    font-size: 42px;
}
.time {
    text-align: right;
}
.game_score {
    font-size: 24px;
    text-align: right;
}
.good_guy_title {
    font-size: 36px;
}
.bad_guy {
    font-size: 18px;
    color: gray;
}
.good_guy {
    font-size: 36px;
    color: black;
}
.good_guy_choice {
    cursor: pointer;
}
.games {
    float: left;
}
.box {
	border-radius: 4px;
	float: left;
	margin: 10px;
	padding: 8px 10px;
}
.scorebox {
	height: 125px;
	width: 200px;
}
.sidebar {
    width: 200px;
    line-height: 1.5;
    text-align: center;
	border: 3px solid #999999;
}
.legend {
	width: 106px;
	text-align: center;
    padding: 8px 3px;
}
.clear { clear: both; }
.tied {
	border: 3px solid #999999;
}
.loss1 {
	background: rgb(233, 61, 61);
	background: rgba(233, 61, 61, 0.2);
	border: 3px solid #bfacac;
}
.loss2 {
	background: rgb(233, 61, 61);
	background: rgba(233, 61, 61, 0.4);
	border: 3px solid #bfacac;
}
.loss3 {
	background: rgb(233, 61, 61);
	background: rgba(233, 61, 61, 0.7);
	border: 3px solid #bfacac;
}
.loss4 {
	background: rgb(233, 61, 61);
	background: rgba(233, 61, 61, 1.0);
	border: 3px solid #bfacac;
}
.win1 {
	background: rgb(35, 186, 35);
	background: rgba(35, 186, 35, 0.2);
	border: 3px solid #acbfac;
}
.win2 {
	background: rgb(35, 186, 35);
	background: rgba(35, 186, 35, 0.4);
	border: 3px solid #acbfac;
}
.win3 {
	background: rgb(35, 186, 35);
	background: rgba(35, 186, 35, 0.7);
	border: 3px solid #acbfac;
}
.win4 {
	background: rgb(35, 186, 35);
	background: rgba(35, 186, 35, 1.0);
	border: 3px solid #acbfac;
}
.lock {
	border: 3px solid blue;
}
.anti_lock {
	border: 3px dashed blue;
}
.picked_team {
    font-weight: bold;
}
